<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.bupt.yaoxintong.dao.UserOrderMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.bupt.yaoxintong.pojo.UserOrder" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="medicine_name" property="medicineName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="medicine_number" property="medicineNumber" jdbcType="INTEGER" />
    <result column="pay_price" property="payPrice" jdbcType="REAL" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="order_operation" property="orderOperation" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, medicine_name, price, medicine_number, pay_price, order_status, order_operation, 
    order_date, business_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.bupt.yaoxintong.pojo.UserOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.bupt.yaoxintong.pojo.UserOrderExample" >
    delete from user_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.bupt.yaoxintong.pojo.UserOrder" >
    insert into user_order (id, user_id, medicine_name, 
      price, medicine_number, pay_price, 
      order_status, order_operation, order_date, 
      business_name)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{medicineName,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{medicineNumber,jdbcType=INTEGER}, #{payPrice,jdbcType=REAL}, 
      #{orderStatus,jdbcType=VARCHAR}, #{orderOperation,jdbcType=VARCHAR}, #{orderDate,jdbcType=TIMESTAMP}, 
      #{businessName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.bupt.yaoxintong.pojo.UserOrder" >
    insert into user_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="medicineName != null" >
        medicine_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="medicineNumber != null" >
        medicine_number,
      </if>
      <if test="payPrice != null" >
        pay_price,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderOperation != null" >
        order_operation,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="medicineName != null" >
        #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="medicineNumber != null" >
        #{medicineNumber,jdbcType=INTEGER},
      </if>
      <if test="payPrice != null" >
        #{payPrice,jdbcType=REAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderOperation != null" >
        #{orderOperation,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.bupt.yaoxintong.pojo.UserOrderExample" resultType="java.lang.Integer" >
    select count(*) from user_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.medicineName != null" >
        medicine_name = #{record.medicineName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.medicineNumber != null" >
        medicine_number = #{record.medicineNumber,jdbcType=INTEGER},
      </if>
      <if test="record.payPrice != null" >
        pay_price = #{record.payPrice,jdbcType=REAL},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.orderOperation != null" >
        order_operation = #{record.orderOperation,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.businessName != null" >
        business_name = #{record.businessName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_order
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      medicine_name = #{record.medicineName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      medicine_number = #{record.medicineNumber,jdbcType=INTEGER},
      pay_price = #{record.payPrice,jdbcType=REAL},
      order_status = #{record.orderStatus,jdbcType=VARCHAR},
      order_operation = #{record.orderOperation,jdbcType=VARCHAR},
      order_date = #{record.orderDate,jdbcType=TIMESTAMP},
      business_name = #{record.businessName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.bupt.yaoxintong.pojo.UserOrder" >
    update user_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="medicineName != null" >
        medicine_name = #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="medicineNumber != null" >
        medicine_number = #{medicineNumber,jdbcType=INTEGER},
      </if>
      <if test="payPrice != null" >
        pay_price = #{payPrice,jdbcType=REAL},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderOperation != null" >
        order_operation = #{orderOperation,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.bupt.yaoxintong.pojo.UserOrder" >
    update user_order
    set user_id = #{userId,jdbcType=VARCHAR},
      medicine_name = #{medicineName,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      medicine_number = #{medicineNumber,jdbcType=INTEGER},
      pay_price = #{payPrice,jdbcType=REAL},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      order_operation = #{orderOperation,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      business_name = #{businessName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>